---
import Layout from "../layouts/Layout.astro";
import Badge from "../components/Badge.astro";
import GithubIcon from "../components/icons/Github.astro";
import LinkedinIcon from "../components/icons/Linkedin.astro";
import SocialPill from "../components/SocialPill.astro";
import MailIcon from '../components/icons/Mail.astro'
import Experience from '../components/Experiencie.astro'
import SectionContainer from "../components/SectionContainer.astro";
import Briefcase from '../components/icons/Briefcase.astro'
---

<Layout title="Portfolio de GioJoDev - Desarrollador y Programador Web con 10 años de experiencia"
description="Contrata a GioJoDev"
>
<main class="px-10">
  <SectionContainer   class="py-44 pb-20">
    <img
      class="rounded-full size-12 mb-4"
      src="https://avatars.githubusercontent.com/u/80933087?v=4"
      alt="giojo photo"
    />
    <h1
      class="text-white text-3xl md:text-4xl lg:text-5xl font-bold flex justify-center flex-row gap-x-4 pb-6 lg:pb-10"
    >
      Hey, Soy GioJoDev <a
        href="https://www.linkedin.com/in/giojodev/"
        target="_blank"
        rel="noopener"
        class="flex justify-center items-center"
      >
        <Badge>Disponible para trabajar</Badge>
      </a>
    </h1>
  </SectionContainer>
  <SectionContainer  class=" pb-20">
    <h2 class="text-xl lg:text-2xl text-wrap max-w-[700px]">
      <span>+10 años de experiencia.</span>
      <span class="text-green-500/90">Desarrollador Web, Frontend y Backend,</span
      >
      <span class="text-blue-400/90 opacity-100"> De Managua, Nicaragua</span>.
      <span class="opacity-70"
        >Desarrollador de aplicaciones y soluciones únicas</span
      >
      <nav class="flex gap-4 mt-8 flex-wrap">
        <SocialPill>
          <LinkedinIcon class="size-4 md:size-6" href="https://www.linkedin.com/in/giojodev/"/>
          Linkedin
        </SocialPill>
  
        <SocialPill>
          <GithubIcon class="size-4 md:size-6" href="https://github.com/giojodev" />
          Github
        </SocialPill>
        <SocialPill>
          <MailIcon class="size-4 md:size-6" href="https://github.com/giojodev" />
          giojodeveloper.gmail.com
        </SocialPill>
      </nav>
    </h2>
  </SectionContainer>
  <SectionContainer id="experiencia">
    <div class="flex flex-row gap-x-3 mb-6 items-center">
      <Briefcase class="size-8"/>
      <h1 class="text-2xl font-semibold">
        
        Experiencia Laboral</h1>
    </div>
    <Experience />
  </SectionContainer>
</main>
</Layout>
