---
const personaImage="GioJoDev"
---
<article class="flex flex-col items-center justify-center gap-8 text-gray-400 dark:text-gray-300 md:flex-row text-pretty">
    <div
    class="[&>p]:mb-4 [&>p>strong]:text-teal-300/80 dark:[&>p>strong]:text-yellow-100 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
    >
     <p>
        Me llamo Giovanni Orozco Jaime, pero generalmente uso el nombre GioJo, inspirado en un anime de referencia y para crear una identidad propia como desarrollador. La tecnología siempre ha sido una parte fundamental de mi vida, desde computadoras hasta consolas, que siempre he disfrutado utilizando. Actualmente, trabajo como analista programador, aprovechando mis conocimientos para seguir creciendo y desarrollando aplicaciones funcionales y de alta calidad.
    
    </p> 
    <p>
        <strong>Entre mis logros destacados se encuentra la implementación de un sistema de gestión de llamadas en el sistema penitenciario</strong>. Este proyecto incluyó la integración con servicios externos para comunicar datos a una central telefónica. La implementación abarcó desde el diseño de la base de datos hasta la creación de la interfaz UX/UI para los usuarios.


        </p>  
    <p>
        Cuento con experiencia en el desarrollo de aplicaciones web y de escritorio,<strong> utilizando C# como tecnologia para el backend y React o Javascript para el frontend</strong>, utilizando la metodología MVC para gestionar la conexión entre la base de datos y la aplicación, siguiendo las convenciones establecidas por los protocolos de seguridad. También tengo experiencia en el manejo de bases de datos, creando procedimientos almacenados y triggers para realizar procesos dinámicos. Además, poseo habilidades en la gestión de datos y la generación de reportes para la toma de decisiones.

        Actualmente, <strong>estoy ampliando mis conocimientos en inteligencia artificial y desarrollo de machine learning usando Python. Paralelamente, estoy estudiando Unity para el desarrollo de videojuegos, con el objetivo de crear un proyecto enfocado en ese ámbito.</strong>
    </p>
    </div>  
    <img width="200" height="200" src="/public/me.jpg" alt={personaImage} class="order-1 object-cover w-64 h-full p-1 md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl bg-black/20 dark:bg-yellow-500/5 ring-1 ring-black/70 dark:ring-white/20 " style="object-position: 50% 50%">

</article>