---
import ExperienceItem from '../components/ExperienceItem.astro'

const experiences  = [
  {
    date: "2021 - Actualidad",
    title: "Desarrollador de Soluciones",
    company:"Seguros LAFISE",
    country:"NI",
    description: [
      "Desarrollo de soluciones innovadoras en respuesta a solicitudes de usuarios, siguiendo metodologías SCRUM.",
      "Implementación de nuevo código y renovación de flujos de trabajo basados en código heredado existente.",
      "Desarrollo de servicios RestAPI para facilitar la integración sin problemas entre aplicaciones de terceros y sistemas y bases de datos actuales.",
      "Utilización de JavaScript para rediseñar código heredado, garantizando una conectividad eficiente en el backend a través de RestAPIs para mejorar la velocidad operativa.",
      "Supervisión de mantenimiento de bases de datos regionales en Honduras (HN), NI (NI) y Costa Rica (CR), brindando soporte proactivo para prevenir problemas técnicos.",
      "Desarrollo de código en React para la plataforma FlujoAdmin, una aplicación responsable de configurar niveles de acceso y permisos de usuarios en varias aplicaciones de flujo de trabajo.",
      "Contribución al desarrollo de la plataforma Flujo Emisión utilizando React, facilitando la interacción del usuario con flujos de trabajo procedimentales y permitiendo la adición sin problemas de documentación requerida según los estándares de la empresa."
    ]
  },
  {
    date: "Freelance",
    title: "Analista Programador",
    company:"CONDOMINIO ALAMEDAS DE LAS COLINAS",
    country:"NI",
    description: [
      "Desarrollo de plataforma de control financiero para el condominio 'Alamedas de las Colinas', que permite a los administradores ingresar datos de ingresos y gastos y generar informes completos.",
      "Implementación de la funcionalidad del backend para la plataforma financiera utilizando APIs RESTful con .NET Core, facilitando la comunicación sin problemas entre la base de datos y la aplicación."
    ]
  },
  {
    date: "Ene 2020 – May 2020",
    title: "Ingeniero de Soporte Técnico",
    company:"NOVAZYS",
    country:"CR",
    description: [
      "Diseño de soluciones para establecer conexiones y transmitir datos en las plataformas de Zoho de acuerdo con las solicitudes recibidas, utilizando Zoho CRM, Deluge y JSON Request."
    ]
  },
  {
    date: "Mar 2017 – Oct 2019",
    title: "Analista Agentes Autorizados",
    company:"CLARO",
    country:"NI",
    description: [
      "Elaboración de consultas SQL/paquetes ETL con T-SQL para generar informes exhaustivos para distribuidores, permitiendo análisis y toma de decisiones informadas.",
      "Diseño de una aplicación web dedicada a la generación de informes, que permite a los distribuidores acceder y generar datos relacionados con el rendimiento operativo diario, ventas e inventario."
    ]
  },
  {
    date: "Mar 2015 – Mar 2017",
    title: "Ingeniero de Soporte Técnico",
    company:"CLARO",
    country:"NI",
    description: [
      "Desarrollo de una aplicación de escritorio utilizando C#, API, JSON Request y MySQL. Esta aplicación se conecta con un dispositivo telefónico, permitiendo a los usuarios iniciar llamadas, generar recibos y producir informes a partir de los datos de entrada."
    ]
  }
];
---


<ol class='relative border-s border-gray-200 dark:border-gray-700 ml-3'>

  {
  experiences.map((experiencie) => (
        <li class="mb-10 ms-4">
            <ExperienceItem {...experiencie} />
        </li>
    ))
      }
</ol>