<header class="flex justify-center items-center py-3 w-full px-36 mx-auto">
  
<span>

</span>
  <nav class="flex flex-row gap-x-10 opacity-80">
    <a href="/">Inicio</a>
    <a href="/about">Sobre Mi</a>
    <a href="/projects">Proyectos</a>
    <a href="/contact">Contacto</a>
  </nav>
</header>
