<header class="flex justify-between items-center py-3 w-[1120px]">
  <img
    class="rounded-full w-12 h-12"
    src="https://avatars.githubusercontent.com/u/80933087?v=4"
    alt="giojo photo"
  />

  <nav class="flex flex-row gap-x-10 opacity-80">
    <a href="/">Inicio</a>
    <a href="/about">Sobre Mi</a>
    <a href="/projects">Proyectos</a>
    <a href="/contact">Contacto</a>
  </nav>
</header>
